/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Reset default browser styles */
*{
  margin: 0;
  padding: 0;
  
}

/* Header */
header {
  background-color: #3068bc;
  padding: 10px;
  color: #fff;
  text-align: center;

}

header h1 {
  font-size: 48px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
header h1:hover{
  font-size: 40px;
  color: #fffdd0;
}


  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  }
   header nav ul li a:hover{
    font-size: 25px;
    color: #fffdd0;
   }
  
/* Section */
section {
  padding: 30px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #635ee2;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
section h2:hover{
   font-size: 25px;
   color: #c850c0;
}
section h3{
  font-size: 25px;
   color: #635ee2;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
section h3:hover{
   color: #c850c0;
   font-size: 20px;
}
section p {
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 18px;
}

section ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 15px;
}

section ul li {
  margin-bottom: 5px;
  font-size: 18px;
}
/* history section  */
.history{
  background-color: #fffdd0;
  border-radius: 25px;
}
/* mission section  */
.mission {
  background-color: #d7e5f2;
  border-radius: 25px;
}
/* values section  */
.values{
  background-color: #fffdd0;
  border-radius: 25px;
}

/* school Anthem section  */
.school-anthem{
background-color:#d7e5f2;
border-radius: 25px;
}
.schant{
 font-size: 36px;
 color: #635ee2;
 text-align: center;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.schant:hover{
   font-size: 25px;
   color: #c850c0;
}
.maindivforanthem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 70px;
  padding-left: 15px;
}
/* Audio school anthem  */
.audio-school-anthem{
  background-color: #fffdd0;
  border-radius: 25px;
}
.ast{
  font-size: 36px;
  color: #635ee2;
 text-align: center;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.ast:hover{
   font-size: 25px;
   color: #c850c0;
}
.mainaudioschant{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding-left: 50px;
}
.anttext1{
  padding-left: 100px;
  font-size: 25px;
   color: #94adf9;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.anttext1:hover{
  font-size: 20px;
  color: #c850c0;
}
/* school cirriculum section  */
.school-cirriculum{
  background-color: #d7e5f2;
  border-radius: 25px;
}
/* school session section  */
.school-session{
   background-color: #fffdd0;
   border-radius: 25px;
}
/* school uniform section  */
.school-uniform{
  background-color: #d7e5f2;
  border-radius: 25px;
}
/* student apperance section  */
.student-apperance{
  background-color: #fffdd0;
  border-radius: 25px;
}
/* school property section  */
.school-property{
 background-color: #d7e5f2;
 border-radius: 25px;
}
/* boarding facility section  */
.boarding-facility{
  background-color: #fffdd0;
  border-radius: 25px;
}
/* health policy section  */
.health-policy{
  background-color: #d7e5f2;
  border-radius: 25px;
}
/* visiting policy section  */
.visiting-policy{
  background-color: #fffdd0;
  border-radius: 25px;
}

/* Footer */
.container{
	max-width: 1170px;
	margin-top: -1px;
  
 
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#d7e5f2;
    padding: 50px;
    border-radius: 10px;
    
}
.footer-col{
   width: 25%;
  left: 20px;
 
}
.footer-col h4{
	font-size: 18px;
	color: #195185;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #635ee2;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #d7e5f2;
	text-decoration: none;
	font-weight: 300;
	color: #5c6298;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:#635ee2;;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: black;
	background-color: #a6c0de;
}
.footer-sub{
  background-color: #334f70;
  padding: 10px;
  color: #fffdd0;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 36px;
  }

  header p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  section h2 {
    font-size: 24px;
  }

  section p {
    font-size: 16px;
  }

  section ul li {
    font-size: 16px;
  }

  footer p {
    font-size: 14px;
  }
}
* Media Query for Responsive Design */
@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 36px;
  }

  section h2 {
    font-size: 30px;
  }

  section p {
    font-size: 16px;
  }

  section ul li {
    font-size: 16px;
  }

  .maindivforanthem {
    flex-direction: column;
    gap: 20px;
  }

  .mainaudioschant {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  header h1 {
    font-size: 30px;
  }

  header nav ul li a {
    font-size: 18px;
  }

  section h2 {
    font-size: 24px;
  }

  section p {
    font-size: 14px;
  }

  .maindivforanthem {
    flex-direction: column;
    gap: 10px;
  }

  .mainaudioschant {
    flex-direction: column;
    gap: 10px;
  }

  .footer-col {
    width: 50%;
  }
}

@media screen and (max-width: 574px) {
  header h1 {
    font-size: 24px;
  }

  header nav ul li a {
    font-size: 16px;
  }

  section h2 {
    font-size: 22px;
  }

  section p {
    font-size: 14px;
  }

  .maindivforanthem {
    gap: 5px;
  }

  .mainaudioschant {
    gap: 5px;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}