*{
    margin: 0;
    padding: 0;
}
header {
  background-color: #334f70;
  padding: 20px;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 48px;

}
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
main{
  padding: 30px;
  padding-top: 0px;
}
section{
  margin-bottom: 20px;
}
section h2{
    color: #334f70;
    margin-bottom: 10px;
    font-size: 36px;
}
.listul ul{
 line-height: 1.5;
 list-style: auto;
 margin-left: 25px;
}
.listul ul li {
  font-size: 18px;  
}
.punishment p{
    line-height: 1.5;
    padding: 5px;
    font-size: 17px;
}
.soe{
  line-height: 1.5;
}
.soe p b h4 i {
    font-size: 17px;
}
.soe ul li {
    line-height: 1.3;
    display: list-item;
    list-style: decimal;
    font-size: 17px;
    margin-left: 25px;
}

/* .logo-pic{
    height: 200px;
    width: 100px;
} */
/* Footer */

.container{
	max-width: 1170px;
	margin-top: -1px;
  
 
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#d7e5f2;
    padding: 50px;
    
}
.footer-col{
   width: 25%;
  left: 20px;
 
}
.footer-col h4{
	font-size: 18px;
	color: #195185;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #d7e5f2;
	text-decoration: none;
	font-weight: 300;
	color: #5c6298;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #6cac28;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: black;
	background-color: #a6c0de;
}
.footer-sub{
  background-color: #334f70;
  padding: 10px;
  color: #fffdd0;
  text-align: center;
  font-size: 1rem;
}