/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

/* Header */
header {
  background-color: #3068bc;
  padding: 20px;
  color: #fff;
}
/* header:hover{
  background-color: #fff;
} */


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 5%;
  margin-left: 80px;
}

nav ul li a {
  color:  white;
  text-decoration: none;
  font-size: 18px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

nav ul li a:hover {
  color: rgb(203, 206, 228);
  font-size: 25px;
  
}

/* Sections */
section {
  padding: 40px;
}

section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #635ee2;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
} 
section h2:hover {
   font-size: 25px;
   color: #c850c0;
}

/* Welcome section */
.welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #6593d8), url(schbuilding.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  
}
.logo-image {
  height: 150px;
  margin-bottom: 7px;
   transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.logo-image:hover {
  height: 200px;
}
.welcome-sub-div {
  padding: 0%;
  margin-top: 100px;
}
.welcome h1 {
  color: #fff;
  font-size: 70px;
  margin-bottom: 25px;
}
.welcome h4 {
  color: #fffdd0;
  font-size: 35px;
  margin-top: 20px;
}

/* Home section */
.home {
  background-color: #d7e5f2;
}

.home h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* About section */
.about {
  background-color: #fffdd0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.about_text {
  width: 60%;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about_image {
  height: 500px;
  width: 350px;
  border-radius: 30px;
}

/* Academics section */
.academics {
  background-color: #d7e5f2;
}

.academics h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.academics p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Admissions section */
.admissions {
  background-color: #fffdd0;
  padding: 50px;
  text-align: center;
}

.admissions h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.admissions p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.admissions button {
  background-color: #d7e5f2;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.admissions button:hover {
  background-color: #fffdd0;
  color: #334f70;
}
/* photo-gallery 
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
} */

/* Activities section */
.activities {
  background-color: #d7e5f2;
}

.activities h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.activities p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Contact section */
.contact {
  background-color: #fffdd0;
  padding: 50px;
  text-align: center;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}


/* Footer */

.container{
	max-width: 1170px;
	margin-top: -1px;
  
 
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#d7e5f2;
    padding: 50px;
    
}
.footer-col{
   width: 25%;
  left: 20px;
 
}
.footer-col h4{
	font-size: 18px;
	color: #195185;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #635ee2;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #d7e5f2;
	text-decoration: none;
	font-weight: 300;
	color: #5c6298;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:  #635ee2;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: black;
	background-color: #a6c0de;
}
.footer-sub{
  background-color: #334f70;
  padding: 10px;
  color: #fffdd0;
  text-align: center;
  font-size: 1rem;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


